page-contact {
    background-color: transparent !important;
    .testHello { 
       position : absolute;
       height: 30%;
       width : 30%;
       bottom:0px;
     }
    .mapa{
       height:100%; 
       width: 100%;
    }

   .text-smaller {
      border-right: 1px solid $list-md-border-color;
    }

   .row-dots {
      border-bottom: 1px solid $list-md-border-color;
   }

   .dot {
       border: 1px solid $list-md-border-color;
   }

   
}

